{% if READTHEDOCS or display_lower_left %}
{# Add rst-badge after rst-versions for small badge style. #}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="dropdown show">
        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_version }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for slug, url in versions %}
            {% if slug == current_version %} <strong> {% endif %}
            <a class="dropdown-item" href="{{ url }}">{{ slug }}</a>
            {% if slug == current_version %} </strong> {% endif %}
          {% endfor %}
        </div>
      </span>
    </span>
  </div>
{% endif %}
